<div class="animated fadeIn">
   <div class="row">
      <div class="col-lg-12">
         <div class="successMsg" *ngIf="successMsg">{{successMsg}}</div>
         <div class="card">
            <div class="card-header">
               <i class="fa fa-align-justify"></i> Suggestion Register                  
            </div>
            <div class="card-body">
               <div class="row mb-3">
                  <div class="col-md-4 offset-md-8">
                    <form (ngSubmit)="dataList(searchKey)" method="post" novalidate="novalidate">
                        <div class="input-group">                        
                           <div class="input-group-prepend">
                              <span class="input-group-text">
                              <i class="fa fa-search" (click)="dataList(searchKey)"></i>
                              </span>
                           </div>
                           <input id="cc-pament" name="cc-payment" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="Search" [(ngModel)]="searchKey">
                        </div>
                    </form>
                  </div>
               </div>
               <table class="table">
                  <thead>
                     <tr>
                        <th>Sponsor ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th class="text-right">Zip Code</th>
                        <th class="text-right">City</th>
                        <th class="text-right">Status</th>
                        <th class="text-right">Action</th>
                     </tr>
                  </thead>
                  <tbody>                     
                     <tr *ngFor="let row of rowData | paginate: { itemsPerPage: limit, currentPage: p1, id: 'my_pagination', totalItems: total_records }">   
                        <td>{{row.User.u_id}}</td>
                        <td>{{row.User.first_name}}</td>
                        <td>{{row.User.email}}</td>
                        <td>{{row.User.mobile_number}}</td>
                        <td class="text-right">{{row.User.zip_code}}</td>
                        <td class="text-right">{{row.User.city}}</td>
                        <td class="text-right"> 
                            <span class="badge badge-{{(row.User.status == '1')?'success':'danger'}}">{{(row.User.status == '1')?'Active':'Inactive'}}</span>
                        </td>
                        <td class="text-right"> 
                           <a href title="Edit" [routerLink]="['add/' + row.User.id]" > <i class="icon-note"></i></a>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <div class="float-right">
                  <pagination-controls class="pagination" (pageChange)="onPageChange(p1 = $event)" id="my_pagination"></pagination-controls> 
               </div>                 
            </div>
         </div>
      </div>
   </div>
</div>